@import '../../node_modules/normalize.css/normalize';
@import 'global/variables';

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $base-font-family;
	color: #909090;
	background: #111;
	font-size: 1.6em;
}

a {
	text-decoration: none;
	color: #909090;
	outline: none;

	&:hover,
	&:focus {
		color: $textColor;
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}


/* Page Loader */

.js {
	body {
		&::before {
			content: 'Loading...';
			font-family: $header-font;
			letter-spacing: 0.2em;
			text-indent: -0.2em;
			text-transform: uppercase;
			font-weight: $bold;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #facb7a;
			z-index: 1000;
			pointer-events: none;
			transition: transform 0.5s;
		}

		&.loading::before {
			transform: translate3d(0,100%,0);
		}
	}
}

/* Header */

.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1em;
	z-index: 100;

	@media #{$media} and ($m-w: $tablet) {
		justify-content: space-between; // IE 11 fix
		justify-content: space-evenly;
	}
}

.codrops-header__title {
	font-size: 1em;
	font-weight: $normal;
	margin: 0;
	padding: 0 1em 0 0.25em;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85em;
}

.codrops-icon {
	pointer-events: visible;
	display: inline-block;
	padding: 0.6em;
}


/* Demo links */

.demos {
	width: 100%;
	margin: 1em 0 0;

	.demo--current {
		border-color: currentColor;
	}

	.facebook::before {
		background-color: #4267b2;
	}
	
	.twitter::before {
		background-color: #1da1f2;
	}
	
	.instagram::before {
		background-color: #d93175;
	}
	
	.pinterest::before {
		background-color: #bd081c;
	}
	
	.snapchat::before {
		background-color: #efff00;
	}
	
	.googleplus::before {
		background-color: #dd4e42;
	}
	
	.linkedin::before {
		background-color: #0077b5;
	}

	@media #{$media} and ($m-w: $tablet) {
		width: auto;
		margin: 0 1em 0 auto;
	}
}

.demo {
	margin: 0.5em 0 0 0;
	padding: 0;
	display: inline-block;
	position: relative;
	height: 44px;
	height: 4.4rem;
	width: 44px;
	width: 4.4rem;
	fill: #fff;

	svg {
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
		transition: 0.3s all ease;
	}

	&::before {
		content: "";
		height: 44px;
		height: 4.4rem;
		width: 44px;
		width: 4.4rem;
		border-radius: 50%;
		opacity: 0;
		background: $backgroundColor;
		display: block;
		position: absolute;
		transform: scale(0);
		transition: .2s transform ease-in-out,.2s border-radius .2s ease-in-out, .4s opacity ease-in-out;
	}

	&:hover,
	&:active {
		&::before {
			transform: scale(1);
			border-radius: 4px;
			opacity: 1;
		}

		svg {
			fill: #eee;
		}
	}
}

/* Content */

.content {
	text-align: center;
}

.content--full {
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
}

.flexy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.flexy--center {
	justify-content: center;
}

.flexy--row {
	flex-direction: row;
}


/* Slideshow */

.slideshow {
	position: relative;
	width: 100%;
	height: calc(100vh - 5.5em);
}

.slide {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 1em 0;
	pointer-events: none;
}

.js .slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	pointer-events: none;
	opacity: 0;
}

.js .slide--current {
	pointer-events: auto;
	opacity: 1;
}

.slide__title {
	font-family: $h1-font-family;
	font-weight: $heavy;
	position: relative;
	z-index: 10;
	font-size: 13vw;
	margin: 0;
	line-height: 0.8;
	pointer-events: none;
}

.slide .mirror {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.slideshow__nav {
	position: absolute;
	width: 100%;
	padding: 0;
	bottom: auto;
	top: 0;
	display: block;
	padding: 0 2em 1em;
	overflow: hidden;

	@media #{$media} and ($m-w: $tablet) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-end;
		top: auto;
		bottom: 0;
		right: 0;
	}
}

.slideshow__nav--inline {
	display: block;
	top: 30vh;
	left: 0;
	width: 100%;
	pointer-events: none;

	.btn {
		display: inline-block;
		margin: 0 1em;
		pointer-events: auto;
	}
}

.slideshow__nav--nopad {
	padding: 0;
}

.btn {
	border: 0;
	background: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: auto;
	position: relative;
	padding: 0.25em 0;
	margin: 0.5em 0 0.75em;
	color: inherit;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease-in-out;

	&:focus {
		outline: none;
	}

	@media #{$media} and ($m-w: $tablet) {
		display: inline-block;
		margin: 0.15em;
	}
}

.btn--current {
	border-color: currentColor;
}

.btn--nav:last-child {
	margin-bottom: 0;
}

.btn--line {
	width: 100%;
	text-align: right;
	padding: 0.15em 30px 0.15em 0;
	transition: color 0.3s;

	&::before {
		content: '';
		width: 10px;
		height: 2px;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: -1;
		margin-top: -1px;
		background: #ffb74d;
		transition: transform 0.3s;

		@media #{$media} and ($m-w: $tablet) {
			display: none;
		}
	}

	&.btn--current {
		border-color: transparent;
		color: $textColor;

		&::before {
			transform: scale3d(26, 20, 1);

			@media #{$media} and ($m-w: $tablet) {
				transform: none;
				display: block;
				top: auto;
				bottom: -0.5em;
				width: 100%;
			}
		}
	}
}

.btn--play {
	top: 70vh;
	left: 50%;
	color: #ffb74d;
	font-size: 3em;
	transform: translateX(-50%);
	position: absolute;
	transition: color 0.3s;

	&:hover {
		color: $textColor;
	}
}

.link--sponsor {
	position: absolute;
	left: 0;
	margin: 0 0 2em 2em;
	bottom: 0;

	@media #{$media} and ($m-w: $tablet) {
		width: 100%;
		margin: 0;
		padding: 1em;
	}
}

.page-title {
	font-family: $header-font;
	position: absolute;
	top: 25vh;
	pointer-events: none;
	text-align: center;
	width: 100%;
	padding: 0 1em;
	margin: 0;
	font-size: 2em;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	text-transform: uppercase;
	color: $textColor;

	@media #{$media} and ($m-w: $tablet) {
		font-size: 1.25em;
		top: 8em;
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: $backgroundColorMirror url(../img/bg.jpg);
	background-size: cover;
}

/* Themes */

.demo-1 .page-title {
	z-index: 10;
	font-size: 0.85em;
    font-family: inherit;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    top: 38vh;
}

.demo-1 .slide:first-child .slide__title,
.demo-1 .slideshow__nav .btn:first-child {
	color: #facb7a;
}

.demo-1 .slide:nth-child(2) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(2) {
	color: #d06690;
}

.demo-1 .slide:nth-child(3) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(3) {
	color: #9ccc65;
}

.demo-1 .slide:nth-child(4) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(4) {
	color: #90a4ae;
}

.demo-3 {
	background: $backgroundColor;
	color: $textColor;
}

.js body.demo-3::before {
	background: $backgroundColorOverlay;
	color: $textColor;
}

.demo-3 {
    a {
        color: $textColor;

        &:hover,
        &:focus {
            color: $textColor;
        }
    }

    .demo,
    .github {
        color: $linkColor;
    }

    .slide {
        mix-blend-mode: color-dodge;
    }

    .slideshow__nav {
        left: 0;
        right: auto;

        .btn {
            color: $buttonColor;

            &:hover {
                color: $textColor;
            }
		}
    }

    .mirror {
        opacity: 0.25;
    }

    .mirror__side {
        padding: 4em 0;
    }

    .slide__title {
        color: $linkColor;
        text-transform: uppercase;
		font-size: 2em;
		
		@media #{$media} and ($m-w: $tablet) {
			font-size: 7em;
		}
    }

    .mirror__img {
        max-height: 65vh;
    }
}

.mirror {
	width: 60vw;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.mirror[data-layout="vertical"] {
	flex-direction: row;
	flex-wrap: wrap;
}

.mirror__side {
	flex: none;
	overflow: hidden;
	width: 50%;
	display: flex;
	align-items: flex-end;
}

.mirror[data-layout="vertical"] .mirror__side{
	height: 50%;
	width: 100%;
}

.mirror__img {
	display: block;
	width: 100%;
	transform: translate3d(100%, 0, 0);
}

.mirror[data-layout="vertical"] .mirror__img {
	transform: translate3d(0, 100%, 0);
}

.mirror__side--two {
	transform: scale3d(-1, 1, 1);
}

.mirror[data-layout="vertical"] .mirror__side--two {
	transform: scale3d(1, -1, 1);
}